<!DOCTYPE html>
<html lang="en">

<head>

  <!-- 
    This is the main Handlebars template for the site 
    - When the user visits the homepage or submits a choice the app calls the endpoints in server.js
    - The server script passes data in here and the Handlebars code builds it into the HTML page
  -->

  <meta charset="utf-8" />
  <link rel="icon" href="https://glitch.com/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>{{seo.title}}</title>

  <!-- Meta tags for SEO and social sharing -->
  <link rel="canonical" href="{{seo.url}}">
  <meta name="description" content="{{seo.description}}">
  <meta property="og:title" content="{{seo.title}}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{seo.url}}">
  <meta property="og:description" content="{{seo.description}}">
  <meta property="og:image" content="{{seo.image}}">
  <meta name="twitter:card" content="summary">

<title>bootstrap</title>
    <style>
        *{
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }
        body{
            background: rgb(27, 27, 27);
            transform:translatex(-22px) translatey(178px);
        }

        .container{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .card{
            background: white;
            width: 270px;
            margin: 10px;
            border-radius:15px ;
        }
        .card2{
            width: 270px;
            margin: 10px;
            border-radius:15px ;
            background-color: rgb(62, 62, 62);
            color: white;
        }

        .card-image{
            height: 170px;
            margin-bottom: 15px;
            background-size: cover;
            border-radius: 15px 15px 0 0 ;
        }
        .jog-1{
            background-image: url("https://cdn.glitch.global/a9ca4aa8-5634-4864-a73b-fd4799e547e2/EeDCjjWXoAETtVW.jpg?v=1655300554069");
        }
        .jog-2{
            width: 200px;
            background-image: url("https://cdn.glitch.global/a9ca4aa8-5634-4864-a73b-fd4799e547e2/08e1074b36d375d4feb3e01da81d9a96.png?v=1655300600764");
        }
        .jog-3{
            background-image: url("https://cdn.glitch.global/a9ca4aa8-5634-4864-a73b-fd4799e547e2/snake.jpg?v=1655300594584");
        }
        .card h2{
            padding: 10px;
        }
        .card p{
            padding: 10px;
        }
        .card a{
            background-color: black;
            color: white;
            padding:15px 20px;
            display: block;
            text-align: center;
            margin:20px 50px
        }
        .card:hover{
            background-color: rgb(62, 62, 62);
            color: white;
            cursor: pointer;
            transform: scale(1.03);
            transition: all 1s ease;

        }
    </style>
    </head>
<body>
    <section class="container">
        <div class="card">
            <div class="card-image jog-1"></div>
            <h2>Taça das casas</h2>
            <p>mostre que você é um verdadeiro fâ de Harry Potter e conquiste a 
                taça das casas. 
            </p>
            <a href="">jogar</a>
        </div>

        <div class="card2">
            <div class="card-image jog-2"></div>
            <h2>Seja Bem Vindo</h2>
            <p>Eai? vamos jogar?</p>
        </div>

        <div class="card">
            <div class="card-image jog-3"></div>
            <h2>Snake</h2>
            <p>Classico jogo da cobra jogue o maximo que puder e acumule pontos</p>
            <a href="/snake.hbs">jogar</a>
        </div>

    </section>

    
      
</body>
</html>