<!DOCTYPE html>
<html lang="en">

<head>

  <!-- 
    This is the main Handlebars template for the site 
    - When the user visits the homepage or submits a choice the app calls the endpoints in server.js
    - The server script passes data in here and the Handlebars code builds it into the HTML page
  -->

  <meta charset="utf-8" />
  <link rel="icon" href="https://glitch.com/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{seo.title}}</title>

  <!-- Meta tags for SEO and social sharing -->
  <link rel="canonical" href="{{seo.url}}">
  <meta name="description" content="{{seo.description}}">
  <meta property="og:title" content="{{seo.title}}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{seo.url}}">
  <meta property="og:description" content="{{seo.description}}">
  <meta property="og:image" content="{{seo.image}}">
  <meta name="twitter:card" content="summary">

  <!-- Import the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css" />

</head>

<body>
  <div class="topnav">
    <a class="active" href="/books">Livros</a>
    <a href="/rent">Aluguel</a>
    <a href="/home">Minha Área</a>
  </div>
  <header>
    <h1>Livros Disponíveis</h1>
  </header>
  <table class="table">
    <thead>
      <tr>
        <th>ISBN</th>
        <th>Nome</th>
        <th>Autor</th>
        <th>Estoque</th>
      </tr>
    </thead>
    <tbody>
      {{#each books}}
        <tr>
          <td>{{isbn}}</td>
          <td>{{name}}</td>
          <td>{{author}}</td>
          <td>{{quantity}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</body>

</html>